
body {
    font: medium/150% "Lucida Grande", sans-serif;
    margin: 0; padding: 0 0 10px;
    ackground: #fff;
}
a img { border: 0; }
h1 {
    color: #fff;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-shadow: 0px 1px 2px #000;
    background: #1872ce url(images/header_blue.png) repeat-x;
    border-top: 1px solid #1872ce;
    border-bottom: 1px solid #1c477f;
    font-size: large;
    padding-left: 10px;
}
h2 {
    font-style: italic;
    font-size: 1.5em;
    text-indent: -40px;
}
h2.th {
    font-size: 1.5em;
    text-indent: 0px;
}
h3 {
    font-size: 1.2em;
    text-indent: -20px;
}
h4 {
    font-size: 1em;
    text-indent: -20px;
}
body.error h1 {
    background: #d70000;
    border-bottom: 1px solid #7f0000;
}
hr {
  color: #888; background-color: #888;
  height: 1px; width: 100%;
  border: 0;
}
code { font-size: 1.2em; }
img.float_right { float: right }
img.float_left { float: left }
pre.condensed { font-size: 0.8em; line-height: 1.5em; }

.cbglogo {
    float: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:30px;
}

div.main {
    max-width:900px;
    padding-left: 70px;
    padding-bottom: 50px;
    margin-right: 0;
}
.more {
    text-align: left;
}
.back {
    text-align: left;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.no-bullet li {
  padding: 0; margin: 0;
}
ul.no-bullet ul.no-bullet {
  font-size: 0.9em;
  padding-left: 20px;
}
p.comment {
  font-size: 0.8em;
  color: #888;
}
div.image_caption {
  font-size: 0.8em;
  color: #888;
  text-align: center;
}
li.download-c {
  background: url(images/icon_c.png) no-repeat 0px 0px;
}
li.download-sf {
  background: url(images/icon_sf.png) no-repeat 0px 0px;
}
li.download-r {
  background: url(images/icon_r.png) no-repeat 0px 0px;
}
li.download-python {
  background: url(images/icon_python.png) no-repeat 0px 0px;
}
li.download-ruby {
  background: url(images/icon_ruby.png) no-repeat 0px 0px;
}
li.download-doc {
  background: url(images/icon_documentation.png) no-repeat 0px 0px;
}
li.download-wiki {
  background: url(images/icon_wiki.png) no-repeat 0px 0px;
}
ul.download-links {
  list-style-type: none;
  padding: 2px 0px 0 0px; margin: 0;
  padding-top: 0px;
}
.download-source {
  background: url(images/icon_source.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-sf {
  background: url(images/icon_sf.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-windows {
  background: url(images/icon_windows.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-debian {
  background: url(images/icon_debian.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-osx {
  background: url(images/icon_osx.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-html {
  background: url(images/icon_html.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-external {
  background: url(images/icon_links.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-wiki {
  background: url(images/icon_wiki.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-pdf {
  background: url(images/icon_pdf.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-html {
  background: url(images/icon_html.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}
.download-info {
  background: url(images/icon_info.png) no-repeat 0px 0px;
  padding-left: 18px;
  font-size: 0.9em;
}

a { color: #00f; text-decoration: none }
a:visited { color: #00c }
a:hover { color: #00f; text-decoration: underline }
h1 a, h1 a:visited, h1 a:hover { color: #fff; text-decoration: none }
h2 a, h2 a:visited, h2 a:hover { color: #000; text-decoration: none }
h3 a, h3 a:visited, h3 a:hover { color: #000; text-decoration: none }

/* Forms */
label {
  display: block;
  float: left;
  width: 130px;
  font-weight: bold;
}
label.normal {
  color: #444;
}
div.explanation {
  border-left: 130px solid white;
  font-size: 0.9em;
  color: #888;
}
.programlisting 
{
  background: #eeeeff;
  border: solid 1px #4444ff;
  padding: 0.5em;
}
div.copyright {
    border-top: 1px solid #8e8e8e;
    text-align: center;
    color: #8e8e8e;
    padding-top: 10px;
    padding-bottom: 50px;
}

ul.papers {
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.papers li {
  padding: 0; margin: 0;
}
li.paper {
  padding-bottom: 10px !important;
  padding-left: 0px !important;
}
span.journal {
  font-style:italic;
}
ul.paper-links {
  list-style-type: none;
  padding: 2px 0 0 0px; margin: 0;
  font-size: 0.9em;
}
ul.paper-links li {
  padding: 0px 0px 0px 0px; margin: 0;
  padding-bottom: 5px !important;
}
ul.paper-links li.paper-pdf {
  background: url(images/icon_pdf.png) no-repeat 0px 0px;
  padding-left: 18px;
}
