$def with (page)

$code:
  if 'complete' not in page:
    complete='checked="yes"'
  else:
    complete=''
  if 'primate' not in page:
    primate='checked="yes"'
  else:
    primate=''

<html>
<head>
  <link rel="stylesheet" type="text/css" href="$static/style.css"></link> 
  <script src="$static/sorttable.js"></script>
  <script src="$static/hideshow.js"></script>
  <title>ISA modules</title>
</head>
<body>

$if 'title' in page:  
  <div class="searchbox" align="center">
$else:
  <div class="searchbox2">
$if 'logo2' in page:
  <a href="$home">$:page.logo2</a>
<form action="$home/search" method="post" class="searchbox">
<table>
  <tr><td>
      $if 'logo' in page:
        $:page.logo
    </td>
    <td></td>
  </tr><tr>
    <td>
      $if 'sexp' in page:
        <input type="textbox" name="key" size="40" value="${page.sexp}" />
      $else:
        <input type="textbox" name="key" size="40" value="" />
    </td><td valign="top" aling="left">
      <span style="width:150px;">
	<input type="checkbox" name="complete" $:complete />
	Amniote dataset</span><br/>
      <span><input type="checkbox" name="primate" $:primate />
	Primate dataset</span>
  </td></tr>
  <tr><td class="searchbuttons">
      <input type="submit" name="action" value="  Search  " />
      <input type="submit" name="action" value=" Modules " />
    </td><td></td></tr>
</table>
</form>
</div>

$:page

</body>
</html>
