$def with (res, modules)

$if res:
  <ul class="hitlist">
  $for t in res:
    <li>
      <p class="category">
	<a class="hideabletext" id="display${t.id}" 
	   href="javascript:toggle('${t.id}');">&#9658;</a>
	$t.id, $t.name
	<span class="hitcomment">
	  &mdash; ${len(t.modules.split(";"))} modules
	</span>
      </p>
      <div class="hideable" id="toggle$t.id" style="display:none;">
      <table class="sortable modlist">
      <tr><th>Id</th><th>#G</th><th>#S</th>
	<th>Species</th><th>Tissue(s)</th></tr>
      $if t.modules != '':
        $for m in t.modules.split(";")
          <tr><td align="center">
          <a href="$modulelink(m)">$m</a>
  	  <td align="center"> ${modules[m].nogenes} </td>
	  <td align="center"> ${modules[m].nosamples} </td>
          <td>
	    $for x in modules[m].species.split(";"):
	      <span style="color:${x.split(':')[0]}">
		${x.split(':')[1]},
	      </span>
  	  </td>
  	  <td> 
	    $for x in modules[m].tissues.split(";"):
	      <span style="color:${x.split(':')[0]}">
		${x.split(':')[1]},
	      </span>
  	  </td>	  
      </tr></table>
      </div>
    </li>
  </ul>
$else:
  <p>No tissues found!</p>
