$def with (hitcounts, chitcounts, html, offset, home, field, key, limit, what, allhits, sexp, which)

$var sexp: $sexp
$var logo2: <p class="logo2">Main page</p>
$if which=='2':
  $var complete: no
$if which=='1':
  $var primate: no

<div class="searchcats">
<h3>Results</h3>
$for cat, count in hitcounts.items():
  <p><a href="$home/search/$what/$field/$key/$limit/${chitcounts[cat]}/$which">
      $cat ($count)</a></p>
<hr/>
<p><a href="#" onClick="expandAll(); false">Expand all</a></p>
<p><a href="#" onClick="collapseAll(); false"/>Collapse all</a></p>
</div>

<div class="reslist">
$for cat, text in html.items():
  $if text != '': 
    <h3>$cat</h3>
    <div>
      $:text
    </div>

<table><tr><td>
$if offset != 0:
  <form action="$home/search/$what/$field/$key/$limit/${max(0,offset-limit)}/$which"
	method="get">
    <input type="submit" value="Previous $limit" />
  </form>
</td><td>
$if offset + limit < allhits:
  <form action="$home/search/$what/$field/$key/$limit/${offset+limit}/$which"
	method="get">
    <input type="submit" value="Next $limit" />
  </form>
</td></tr></table>

</div>
