export(isa.in.silico, generate.seeds)

exportMethods("isa",
              "isa.normalize",
              "isa.iterate",
              "isa.unique",
              "robustness",
              "isa.filter.robust",
              "isa.sweep",
              "sweep.graph")

export(isa.option)

##########

useDynLib(isa)
