export(isa.in.silico, isa.normalize, isa.iterate, isa.unique,
       generate.seeds)

export(robustness, isa.filter.robust)

export(isa.sweep, sweep.graph)

export(isa)

export(isa.option)

##########

useDynLib(isa)
