body {
	font-family:"Trebuchet ms",Arial,Helvetica,sans-serif;
	font-size:.9em;
	background:#f8f8f8;
	color:#000;
        text-align: left;
	width:1100px;
	margin: auto;
	padding-top: 20px;
}
h1 {
    font-size: 1.3em;
    font-weight: bold;
}
h2 { 
    font-size: 1.1em;
    font-weight: bold;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}
h4 {
    font-size: 0.8em;
    text-align: left;
}
table.modlist th { 
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000;
    horizontal-align: center;
    vertical-align: center;
    line-height: 1.3em;
    font-weight: bold;
}
table.modlist td { 
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #aaa;
    margin: 0px;
}
a { color: #00f; text-decoration: none }
a:visited { color: #00c }
a:hover { color: #00f; text-decoration: underline }
h1 a, h1 a:visited, h1 a:hover { color: #fff; text-decoration: none }
h2 a, h2 a:visited, h2 a:hover { color: #000; text-decoration: none }
h3 a, h3 a:visited, h3 a:hover { color: #000; text-decoration: none }
ul.menu {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.menu li {
  display: inline;
}
ul.menu li:before {
  content: "\00BB \0020";
}
ul.menu li.first:before {
  content: " ";
}
ul.menu2 {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0; margin: 0;
}
ul.menu2 li {
  display: inline;
}
ul.menu2 li:before {
  content: "\00AB \0020";
}
ul.menu2 li.first:before {
  content: " ";
}
span.hideshow {
  float: right;
  font-size: 0.8em;
  color: #FFF;
  margin: 5px 10px;
  clear: right;  
  position: relative;
  width: 300px;
  text-align: right;
}
span.hideshow a, div.hideshow a:visited { color: #FFF }
div.logo {
  float: right;   
}
p.note {
  color: darkgrey;
  font-weight: bold;
  font-size:0.8em;
  margin: 0px 0px 10px 50px;
}
a.tag0 { font-size: 6px; color: #A5E763; }
a.tag1 { font-size: 7px; color: #A5E763; }
a.tag2 { font-size: 8px; color: #A5E763; }
a.tag3 { font-size: 9px; color: #A5E763; }
a.tag4 { font-size: 10px; color: #A5E763; }
a.tag5 { font-size: 11px; color: #73C729; }
a.tag6 { font-size: 12px; color: #4AA608; }
a.tag7 { font-size: 13px; color: #297910; }
a.tag8 { font-size: 14px; color: #184908; }
a.tag9 { font-size: 15px; color: #C77329; }
a.tag10 { font-size: 16px; color: #491808; }

a span {
	display: none;
}

a:hover {
	position: relative;
}

a:hover span {
	display: block;
   	position: absolute;
	width:200px;
	padding:4px;
	border:#222 2px solid;
	background:#666;
	color:#fff;
	-moz-border-radius:8px;
	border-radius:8px;
	z-index:11;
	font-size:small;
}

a:hover span {
	top: 20px; left: 20px;
}

tr.under {
  color: green;
}
tr.under a {
  color: green;
}
tr.over {
  color: red;
}
tr.over a {
  color: red;
}
tr.even {
  background-color: #EEE;
}
tr.head {
  background-color: #CCC;
  font-weight: bold;
}

span.pvalue {
  color: grey;
  font-size: .8em;
}
div.searchbox {
    padding-top: 30px;
    font-size: 0.8em;
}
form.searchbox input {
    font-size: 1.6em;
}
form.searchbox th {
    padding: 0px;
    border: none;
}
form.searchbox td {
    border: none;
}
div.searchbox td.searchbuttons {
    text-align: center;
}
table.hit {
    margin-bottom: 20px;
}
table.sortable { 
    font-size: 0.9em;
    margin-left: 30px;
}
p.category {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 25px;
    text-indent: -25px;
}
table.links {
    width: 100%;
}
table.links td { 
    horizontal-align: center;
}
ul.hitlist {
    list-style: none;
}
.hitcatid {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 0.8em;
    font-style: italic;
}
p.hitcatid {
    margin-left: 25px;
}
span.hitcomment {
    font-size: 0.8em;
    color: #404040;
}
table.modlist {
    border-bottom: 1px solid #aaa;
}
table.modlist tr:hover {
    background-color: #bbb;
}
div.searchcats {
    padding-right: 20px;
    height: 400px;
    margin-right: 20px;
    border-right: 1px solid #aaa;
    clear: left;
    float: left;
}
div.reslist {
    float: left;
    width: 700px;
}
div.thin {
	width: 900px;
	margin: auto;
	text-align: center;
}
div.thin ul {    
    margin: auto;
    padding-top:20px;
    padding-right:200px;
    margin-bottom:50px;
}
div.thin ul li {
    display: inline;
    padding: 20px 30px 20px 30px;
}
span.s {
    color: darkblue;
}
span.t {
    color: black;
}
span.g {
    color: orange;
}
span.e {
    color: darkgreen;
}
p.logo {
    color: darkgreen;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    font-family: Arial,Helvetica;
    margin-bottom: 10px;
}
p.logo2 {
    color: darkgreen;
    font-size: 2em;
    font-family: Arial,Helvetica;
    float:left;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: 20px;
    border: 1px solid #eee;
    padding: 10px;
}
p.copyright {
    text-align: center;
    color: grey;
}
img.help {
    margin: 0px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #000;
    background: #eee;
}
