import(Category)
import(AnnotationDbi)
import(Biobase)

export(isa.GO, isa.KEGG, isa.CHR, isa.miRNA, isa.DBD)

export(gograph, gograph.plot, exp.plot.create, exp.plot.colbar,
       exp.plot, cond.plot, overlap, overlap.plot, mnplot, ISAmnplot,
       ISA2heatmap, eisa.biclust)
       
export(autogen.table, autogen.modules)

exportMethods("feat.exprs", "samp.exprs",
              "prenormalized", "prenormalized<-",
              "hasNA", "hasNA<-")

exportMethods("drive", "drive<-",
              "seedData", "runData",
              "getFeatures", "getSamples",
              "getFeatureNames", "getSampleNames",
              "getFeatureMatrix", "getSampleMatrix",
              "getFeatureScores", "getSampleScores",
              "getNoFeatures", "getNoSamples",
              "featureThreshold", "sampleThreshold")

exportMethods("isa")
