import(Category)
import(AnnotationDbi)

export(isa.GO, isa.KEGG, isa.CHR, isa.miRNA, isa.DBD)

export(gograph, gograph.plot, exp.plot.create, exp.plot.colbar,
       exp.plot, cond.plot, overlap, overlap.plot, mnplot, ISAmnplot,
       ISA2heatmap)
       
export(autogen.table, autogen.modules)

exportMethods("drive", "drive<-",
              "seedData", "runData", "getFeatureNames", "getSampleNames",
              "getFeatureMatrix", "getSampleMatrix",
              "getFeatureScores", "getSampleScores",
              "getNoFeatures", "getNoSamples",
              "featureThreshold", "sampleThreshold")

exportMethods("isa")
