.resizablePanel {
	headerHeight:			20;
	borderColor:			#cccccc;
	headerColors:			#99ccff, #cccccc;
	roundedBottomCorners:	true;
	borderThicknessTop:		0;
	borderThicknessBottom:	2;
	borderThicknessLeft:	2;
	borderThicknessRight:	2;
	borderAlpha:			1.0;
	
	titleStyleName: "mypanelTitle";
}

.mypanelTitle {
	fontFamily: Arial;
	fontSize: 10;
	fontWeight: bold;
}

.closeBtn {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
}
.increaseBtn {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
}
.decreaseBtn {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
}
.resizeHndlr {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeHandler.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeHandler.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeHandler.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeHandler.png');
}