
.resizablePanel {
	headerHeight:			20;
	borderColor:			#cccccc;
	headerColors:			#99ccff, #cccccc;
	roundedBottomCorners:	true;
	borderThicknessTop:		0;
	borderThicknessBottom:	2;
	borderThicknessLeft:	2;
	borderThicknessRight:	2;
	borderAlpha:			1.0;
	backgroundAlpha:		0.2;
	dropShadowEnabled:		false;
	titleStyleName: "resizablePanelTitle";
}

.resizablePanelTitle {
	fontFamily:				Arial;
	fontSize:				10;
	fontWeight:				bold;
}

.closeButton {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/closeButton.png');
}
.maximizeButtonIncrease {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/increaseButton.png');
}
.maximizeButtonDecrease {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/decreaseButton.png');
}
.minimizeButton {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/minimizeButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/minimizeButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/minimizeButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/minimizeButton.png');
}
.resizeButton {
	upSkin:        Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeButton.png');
	overSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeButton.png');
	downSkin:      Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeButton.png');
	disabledSkin:  Embed('/ch/unil/cbg/ExpressionView/assets/panel/resizeButton.png');
}